      <% layout('layout') %>
      <% if (typeof user !== 'undefined') { %>
      <div class="white-bg">
　      <label>ルーム一覧 サクッと消せるで</label>
        <table border="1" width="500" cellspacing="0" cellpadding="5">
            <tr>
                <th>id</th> 
                <th>name</th> 
                <th></th> 
                
            </tr> 
          <% roomList.forEach(function(room) { %>
            <tr>                
                <th><%= room.id %></th> 
                <th><%= room.name %></th> 
                <th>
                  <button>
                    <a href="/edit/delete/<%= room.id %>">削除</a>
                  </button>
                </th> 
                
            </tr>
          <% }); %>
          
          </table>
      </div>
      <% } %>
