      <% layout('layout') %>
      <% if (typeof user !== 'undefined') { %>

        <form action="/" method="post" class="room-form">
          ルーム名: <input type="text" name="title" class="input" required><br>
          <br>
          <button type="submit" class="submit">ルーム作成</button>
          <br>
        </form>
        <div class="white-bg scroll">
          <ul class="main-list">
          <% roomList.forEach(function(room) { %>
            <li class="main-list_item">
              <div class="post_item">
                <a href="/room/<%= room.room_id %>"><%= room.room_name %>
                  <p class="post_icon"><%= room.room_icon %></p>
                  <p class="post_name"></p>
                </a>
              </div>
            </li>
           <% }); %>
          </ul>
        </div>
      <% } %>
