    <% layout('layout') %>
    <form action="/login" method="post" class="room-form">
        <div class="cp_iptxt">
          <input class="ef" width="80%" type="email" placeholder="" name="email" required>
          <label>メールアドレス</label>
          <span class="focus_line"><i></i></span>
        </div>

        <div class="cp_iptxt">
          <input class="ef" type="password" placeholder="" name="password" required>
          <label>パスワード</label>
          <span class="focus_line"><i></i></span>
        </div>

        <button type="submit" class="submit">ログイン</button>
    </form>
    <% if (typeof noUser !== 'undefined') { %>
        <p class="error"><%= noUser %></p>
    <% } %>
<a href="/" class="btn"><button>トップへもどる</button></a>
