    <% layout('layout') %>
    <form action="/signup" method="post" enctype="multipart/form-data" class="form">
        <p><img id="thumbnail" class="thumb_m" src="<%= image %>"/></p>
        <br>
        <button class="file-wrap">
            <label>アイコン変更 <input type="file" id="upfile" name="image_file" class="file"></label>
        </button>
        <br>        
        <div class="cp_iptxt">
          <input class="ef" width="80%" type="text" placeholder="" name="user_name" required>
          <label>氏名</label>
          <span class="focus_line"><i></i></span>
        </div>

        <div class="cp_iptxt">
          <input class="ef" type="text" placeholder="" name="nickname" required>
          <label>ニックネーム</label>
          <span class="focus_line"><i></i></span>
        </div>

        <div class="cp_iptxt">
          <input class="ef" width="80%" type="email" placeholder="" name="email" required>
          <label>メールアドレス</label>
          <span class="focus_line"><i></i></span>
        </div>

        <div class="cp_iptxt">
          <input class="ef" type="password" placeholder="" name="password" required>
          <label>パスワード</label>
          <span class="focus_line"><i></i></span>
        </div>
        <br>
        <% if (typeof emailExists !== 'undefined') { %>
          <p class="error"><%= emailExists %></p>
        <% } %>
        <button type="submit" class="submit">新規会員登録</button>
    </form>

